@model IEnumerable<SmokeFreeApplication.Models.Comment>

@{
    Layout = "";
    int n = Model.Count();
}

<div class="list-group">

    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body" style="padding-left:37px">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.userName)</h4>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.postDate)</h6>
                <p class="card-text">@Html.DisplayFor(modelItem => item.body)</p>
            </div>
        </div>
        if (n > 0)
        {
            @Html.Action("ViewComment", "Comments", new SmokeFreeApplication.Controllers.CommentQuery(item.commentID, "C"))
        }

    }

</div>
