@*@model IEnumerable<SmokeFreeApplication.Models.Doctor>*@
@Model SmokeFreeApplication.Models.AdminManageDataPacket

@{
    Layout = "";
    //int n = Model.list2.Count();

    IEnumerable<SmokeFreeApplication.Models.Doctor> doctorList = Model.list2;
}

<div class="list-group">

    @foreach (var item in doctorList)
    {
        if (item.adminVerify)
        {
            <div class="card">
                <div class="card-body" style="padding-left:37px">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.userName)</h4>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.contactNo)</h6>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
                </div>
            </div>
        }


    }

</div>

