@*Largely Copied pasted from w3school =P *@


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: #ccc;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
</head>
<body>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Pending Article')">Pending Article</button>
        <button class="tablinks" onclick="openCity(event, 'Approved Article')">Approved Article</button>
        <button class="tablinks" onclick="openCity(event, 'Pending Doctor')">Pending Doctor</button>
        <button class="tablinks" onclick="openCity(event, 'Approved Doctor')">Approved Doctor</button>
    </div>

    <div id="Pending Article" class="tabcontent">
        <h3>List of articles to be approved</h3>
        @*Need to link to correspodning post view *@
        @*@Html.ActionLink("Dame", "PendingArticleView", "Admin") *@
        @Html.Partial("_pendingArticles");
    </div>

    <div id="Approved Article" class="tabcontent">
        <h3>List of articles approved</h3>
        @Html.Partial("_approvedArticles");
        </div>

    <div id="Pending Doctor" class="tabcontent">
        <h3>List of Doctor to be approved</h3>
        @*Need to link to correspodning post view *@
        @Html.Partial("_pendingDoctors");
        </div>

    <div id="Approved Doctor" class="tabcontent">
        <h3>List of Doctor approved</h3>
        @Html.Partial("_approvedDoctors");
        </div>

                <script>
                    function openCity(evt, cityName) {
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }
                        tablinks = document.getElementsByClassName("tablinks");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                        }
                        document.getElementById(cityName).style.display = "block";
                        evt.currentTarget.className += " active";
                    }
                </script>

            </body>
            </html>

