
@{
    ViewBag.Title = "Pending Doctor";
    Layout = "~/Views/Admin/_PostManageRequest.cshtml";
}


@model SmokeFreeApplication.Models.DocEntry


@*This section will be replaced with the normal post view*@
<h2>This is a header</h2>
<h2>Doctor Name is @Model.bio.name</h2>
<h2>Doctor Gender is @Model.bio.gender</h2>
<h2>Doctor Descrption is @Model.docInfo.description</h2>

@*Difference in the action button at the botton*@




