
@{
    ViewBag.Title = "RejectedView";
    Layout = "~/Views/Admin/_PostManageReject.cshtml";
}


@model SmokeFreeApplication.Models.Article


@*This section will be replaced with the normal post view*@
<h2>This is a header</h2>
<h2>Story Title is @Model.Title</h2>
<h2>Story Username is @Model.owner.meta.userName</h2>
<h2>Story Date is @Model.postDate</h2>
<h2>Story Content is @Model.texts</h2>

@*Difference in the action button at the botton*@






