img {
    height: 200px;
    width: 100% !important;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.card {
    width: 18rem;
    height: 520px !important;
    border-radius: 20px;
}

.card-title {
    font-size: 20px;

}

.articleBody {
    width: 100%;
    height: 180px !important;
    overflow: hidden;
}
footer{
    text-decoration:underline;
}
