@{
    ViewBag.Title = "PopUp";
}

@model SmokeFreeApplication.Models.BroadcastMessage

<title>@ViewBag.Title</title>
@*
    //for debug
    (Request.Cookies["popup"].Value == "true" || Request.Cookies["popup"].Value == "false")
*@
@if (Request.Cookies["popup"].Value == "true" )
{
<div class="container">
    @*
        this line can place the dialog at the bottom of the page, but it not docked at the bottom
        <div class="modal-open" id="MyModal" role="dialog" style="display:block">
    *@
    <div class="modal" id="MyModal" role="dialog" style="display:block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>@Html.DisplayFor(modelItem => Model.title)</h4>
                    <button class="close" data-dismiss="modal" onclick="dismissPopup()">&times;</button>
                </div>
                <div class="modal-body">
                    <p>@Html.DisplayFor(modelItem => Model.content)</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="dismissPopup()">close</button>
                    <button class="btn btn-secondary" data-dismiss="modal" onclick="NeverPopupAgain()">Never Show Again</button>
                </div>

            </div>
        </div>
    </div>
</div>
}
<script type='text/javascript'>
    function dismissPopup() {
        document.getElementById("MyModal").style.display = "none";
    }
    function NeverPopupAgain() {
        dismissPopup();
        document.cookie = "popup=false";
    }
</script>