@{
    ViewBag.Title = "About";
}

<h2>About us</h2>
<br />
<img src="https://images.unsplash.com/photo-1522756890800-ac12d130a43f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" style="width:1000px;height:500px;">
<br />
<br />
<h4>MISSION</h4>

<p>
    We're an organisation promoting a healthier community by providing you a platform
    with resources to aid smokers in their efforts to quit smoking. There will be
    articles posted by certified doctors about smoking and its risks. Smokers are able
    comment on these articles and interact with one another. Similarly, smokers will
    also be able to share their own recovery stories.
</p>

<p>
    We also provide interesting features such as track quit smoking progress that gives smokers
    a view on how far they have come in quitting smoking and how much money they have
    save up till today.
</p>
<p>
    Start your quit smoking journey today by joining us!
    <br />
    We will not disappoint you with the articles and stories shared by smokers and professionals.
</p>


