@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Quit smoking today <br/> Prevention is better than cure</h2>
    <p> </p>

    <div class="slideshow-container">


    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Wonder how you can begin your journey to being smoke free? Start here today!
        </p>
        <p class="btn btn-default">@Html.ActionLink("Sign Up", "SignUpMember", "Account")</p>
    </div>
    <div class="col-md-4">
        <h2>Articles</h2>
        <p>Read some of our articles written by professionals about what smoking can do to your health</p>
        <p class="btn btn-default">@Html.ActionLink("Articles", "Articles", "Article")</p>
    </div>
    <div class="col-md-4">
        <h2>About us</h2>
        <p>Learn about our website and why we do what we do!</p>
        <p class="btn btn-default">@Html.ActionLink("About Us", "About", "Home")</p>
    </div>
</div>