
@{
    ViewBag.Title = "My Doctor Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctor Profile</h2>
<img src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png" alt="Sunflower" style="float: left; margin-right: 15px;">


<h1>Bio</h1>
<p class="title">Doctor at </p>
<p class="title">NUH </p>
<p>Specialised in Lungs</p>

<div class="u-container">
    <ul class="app-featured-row">
        <li class=" ="app-featured-row__item">
        </li>"

    </ul>
</div>
