@model SmokeFreeApplication.Models.Test
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is a header</h2>
<h2>Model name is @Model.name</h2>
@if (Model.id == 1)
{ <h2>IF detect id is 1</h2>}
else
{ <h2>@Model.id</h2>}


