@model SmokeFreeApplication.Models.Test
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is a header</h2>
<h2>Model name is @Model.Name</h2>
@if (Model.ID == 1)
{<h2>IF detect id is 1</h2>}
else
{ <h2>@Model.ID</h2>}


<nav>
    <ul>

        <li>
            <a href="para/?id=88&name=fromNav">paraTest</a>
        </li>
        <li>
            <a href="redirect/">redirectTest</a>
        </li>

    </ul>
</nav>

