
@{
    ViewBag.Title = "SignUpSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 offset-md-2">

    <h3 style="padding-top: 15px;">Successful Sign up</h3>


    @Html.ActionLink("Click here to sign in", "SignInMember", "Account")
</div>

