
@{
    ViewBag.Title = "SignUpSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 offset-md-2">

    <h3 style="padding-top: 15px;">Successful Sign up</h3>
    <p> Note: Doctor account approval may take up to 2 working days. </p>

    @Html.ActionLink("Click here to sign in", "SignInDoctor", "Account")
</div>

