
    <b> Search By: </b>
    @Html.RadioButton("option", "Name", new { id = "nameRad", @required = "required" })<text>Name</text>
    @Html.RadioButton("option", "Tags", new { id = "tagRad" })<text> Tags </text>
    <br />
    <div id="search-container">
        <input name="search" id="searchBar" type="text" data-role="none" required" />
        <button type="button" onclick="this.form.submit();" id="searchBtn" class="btn btn-outline-secondary">Search</button>
    </div>

